.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.living-cell {
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  background-color: #000;
  margin: 0.125rem;
  transition: opacity 0.1s ease;
  border-radius: 50%;
}

.dead-cell {
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  margin: 0.125rem;
  border-radius: 50%;
}
